*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

body {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  font-family: 'Gothic A1', serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 6rem; }
  .heading-primary--white {
    color: #fff; }

.heading-english {
  font-family: 'Lato', serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem; }
  .heading-english--white {
    color: #fff; }
  .heading-english--tertiary {
    color: #FCC7C3; }

.para {
  font-family: 'Gothic A1', serif;
  font-size: 1.4rem; }

.search-bar__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  width: 100%;
  display: block;
  transition: all 0.3s;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .search-bar__input::-webkit-input-placeholder {
    color: #999; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
  filter: brightness(40%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  outline: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn--white {
  background: #fff;
  color: #999;
  width: 10rem; }
  .btn--white::after {
    background: #fff; }

.btn--color {
  background: #3FCBCE;
  width: 30rem;
  color: #fff; }
  .btn--color::after {
    background: #3FCBCE; }

.btn--color2 {
  background: #3FCBCE;
  width: 100%;
  color: #fff; }
  .btn--color2::after {
    background: #3FCBCE; }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0); }

.form {
  margin-top: 5rem; }
  .form__group:last-child {
    margin-bottom: 0.5rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all .5s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #3FCBCE; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #FF5A4D; }
    .form__input::-webkit-input-placeholder {
      color: #777; }
  .form__label {
    color: #777;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.card-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50rem;
  border-radius: 5px;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    transition: all 0.8s ease-in-out;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 50rem;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: url(../img/travel_1.jpg);
      background-size: cover; }
    .card__picture--2 {
      background-image: url(../img/travel_2.jpg);
      background-size: cover; }
    .card__picture--3 {
      background-image: url(../img/travel_3.jpg);
      background-size: cover; }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    text-align: left;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 100%; }
  .card__heading--span {
    padding: 1rem 1.5rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }

.signout {
  display: none; }

.main {
  width: 100%;
  height: 100vh; }

.section-intro {
  width: 100%;
  height: 40rem;
  background-color: #fff;
  padding-top: 5rem; }

.section-category {
  width: 100%;
  height: 70rem;
  background-color: #f7f7f7;
  padding-top: 10rem; }

.section-social {
  width: 100%;
  height: 15rem;
  background-color: #fff;
  padding-top: 5rem; }

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1; }
  .bg-image__pic {
    width: 100%;
    height: 100vh;
    filter: brightness(60%);
    animation: zoom-in 10s linear;
    backface-visibility: hidden; }

.header-container {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .header-container.scrolled {
    background-color: #fff !important;
    transition: background-color 0.15s linear;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .header-container.scrolled .heading-english--white {
      color: #000 !important; }
    .header-container.scrolled .heading-english--tertiary {
      color: #FF5A4D !important; }
    .header-container.scrolled .header__box {
      color: #000 !important; }

.header {
  padding-top: 3rem;
  margin: 0 auto;
  width: 120rem; }
  .header__left {
    float: left; }
  .header__right-button {
    float: right;
    padding-top: 1rem;
    transition: all .2s; }
    .header__right-button:not(:first-child) {
      margin-right: 3rem; }
    .header__right-button:hover {
      transform: translateY(-0.3rem); }
  .header__logo {
    width: 14rem;
    height: auto; }
  .header__box {
    margin-top: 1.4rem;
    background-color: #fff;
    width: 1px;
    height: 1.5rem; }
  .header__icon {
    margin-left: 0.2rem;
    padding-top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem; }

.search {
  width: 100%;
  height: 100vh;
  padding-top: 40rem; }
  .search__text {
    text-align: center; }
  .search__container {
    padding-top: 12rem;
    margin: 0 auto;
    width: 50%; }
  .search__input {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .search__label {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: #fff; }

.intro {
  width: 30%;
  padding-top: 3rem;
  text-align: center;
  margin: 0 auto; }

.social {
  width: 100%;
  text-decoration: none;
  color: #333; }
  .social__logo {
    float: left;
    margin: 0.7rem 1rem 0 10rem;
    width: 2.2rem;
    height: auto; }
  .social h2 {
    float: left;
    font-size: 2rem;
    font-family: 'Lato', serif;
    font-weight: 200; }

.footer {
  background-color: #333;
  width: 100%;
  height: 30rem;
  font-size: 1.2rem;
  color: #fff;
  padding-top: 10rem;
  font-weight: 100; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__list {
    list-style: none; }
  .footer__title {
    color: #fff;
    font-weight: 800; }
  .footer__list-item {
    color: #ccc; }
    .footer__list-item:not(:last-child) {
      margin-bottom: 0.3rem; }
  .footer__link:link, .footer__link:visited {
    color: #ccc;
    text-decoration: none;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #FCC7C3;
    font-weight: 700;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: rotate(3deg) scale(1.3); }

@keyframes zoom-in {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

.signin {
  width: 100%; }
  .signin__left {
    float: left;
    width: 60%;
    height: 100%;
    padding: 3rem 10rem; }
  .signin__right {
    float: right;
    width: 40%;
    height: 100%;
    background-image: url(../img/signin.jpg);
    background-size: cover;
    text-align: center; }
  .signin__logo {
    margin-top: 7rem;
    width: 16rem;
    height: auto; }

.section-make {
  width: 100%;
  height: 90vh;
  background-color: #eee; }

.makeup {
  width: 70%;
  margin: 0 auto;
  padding: 10rem 0; }
  .makeup__title {
    font-size: 3rem;
    color: #333; }
  .makeup__form {
    width: 100%; }
    .makeup__form-input {
      display: block;
      width: 50%;
      height: 5rem; }
      .makeup__form-input:not(:last-child) {
        margin-bottom: 2rem; }
