// COLORS
$color-primary: #3FCBCE;
$color-primary-light: #80EDEA;
$color-primary-dark: #209E9E;

$color-secondary-light: #D0E2D0;
$color-secondary: #8ECF91;
$color-secondary-dark: #50A050;

$color-tertiary-light: #FCC7C3;
$color-tertiary: #FD9280;
$color-tertiary-dark: #FF5A4D;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;