.main {
  height: 80vh;
  position: relative;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../img/main-background.jpg');
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  &__left {
    display: flex;
  }
  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
  }
  &__logo {
    //임시 로고
    margin-top: 1.4rem;
    margin-left: 3rem;
    font-family: 'Song Myung', serif;
    font-size: 3.5rem;
    transition: all 2s;
    &:hover {
      letter-spacing: 1rem;
    }
  }
  &__icon {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    transform: translateY(30%)
  }
}

.search {
  margin-top: 15rem;
  &__text {
    text-align: center;
  }
  &__container {
    margin: 0 auto;
    width: 60%;
  }
}

.footer {
  width: 60%;
  height: 20vh;
  margin: 0 auto;
  padding: 5rem 0;
  font-size: 1.4rem;
  &__list {
    list-style: none;
  }
  &__title {
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  &__list-item {
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: $color-grey-dark;
      text-decoration: none;
      transition: all .3s;
    }
    &:hover,
    &:active {
      color: $color-black;
      font-weight: 700;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      transform: rotate(3deg) scale(1.3);
    }
  }
}