.signin{
  width: 100%;

  &__left{
    float: left;
    width: 60%;
    height: 100%;
    padding: 3rem 10rem;
  }

  &__right{
    float: right;
    width: 40%;
    height: 100%;
    background-image: url(../img/signin.jpg);
    background-size: cover;

    &-logo {
      padding-top: 10rem;
      text-align: center;
      font-family: 'Song Myung', serif;
      font-size: 3.5rem;
    }
  }
}
